@model IEnumerable<CIPlatform.entities.ViewModels.CommentViewModel>


@foreach (var comment in Model)
{
    <div class="d-flex gap-3 bg-white">
        <div>
            <img class="rounded-pill" src="~/images/volunteer3.png" alt="">
        </div>
        <div>
            <h3>@comment.CommentMsg</h3>
            <span>@comment.CreatedAt.ToString("d")</span>
            <p>@comment.User.FirstName</p>
        </div>
    </div>
}


