


    <div class="d-flex gap-3 bg-white">
        <div>
            <img class="rounded-pill" src="~/images/volunteer3.png" alt="">
        </div>
        <div>
            <h3>Margaret walsh</h3>
            <span>Monday, Oct 21, 2019</span>
            <p>This is helpful mission</p>
        </div>
    </div>

    <div class="d-flex gap-3 bg-white mt-3">
        <div>
            <img class="rounded-pill" src="~/images/volunteer3.png" alt="">
        </div>
        <div>
            <h3>Margaret walsh</h3>
            <span>Monday, Oct 21, 2019</span>
            <p>This is helpful mission</p>
        </div>
    </div>
    <div class="d-flex gap-3 bg-white mt-3">
        <div>
            <img class="rounded-pill" src="~/images/volunteer3.png" alt="">
        </div>
        <div>
            <h3>Margaret walsh</h3>
            <span>Monday, Oct 21, 2019</span>
            <p>This is helpful mission</p>
        </div>
    </div>
    <div class="d-flex gap-3 bg-white mt-3">
        <div>
            <img class="rounded-pill" src="~/images/volunteer3.png" alt="">
        </div>
        <div>
            <h3>Margaret walsh</h3>
            <span>Monday, Oct 21, 2019</span>
            <p>This is helpful mission</p>
        </div>
    </div>
