@model CIPlatform.entities.ViewModels.ThemeViewModel
<div class="border">
            <div class="bg-secondary-subtle p-2 ">
                <h3 class="ps-4">Add</h3>

            </div>
            <div>
            <form id="addMissionThemeForm">
                
            <div class="ps-3 py-3">
                <div>
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title"  asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger error-span"></span>
                    </div>

                    <div class="mt-3">
                        <label class="form-label" for="status">Status</label>
                        <select class="form-select" asp-for="Status">
                            <option selected disabled>Select Status</option>
                            <option value="1">Active</option>
                        <option value="0">In Active</option>
                        </select>
                    <span asp-validation-for="Status" class="text-danger error-span"></span>
                    </div>
                    </div>

                     <div class="modal-footer border-0 mt-3 d-flex gap-3">
            <a id="cancelBtn" class="btn border-secondary rounded-pill px-4 py-2 text-secondary"
               data-bs-dismiss="modal">Cancle</a>
            <button type="submit" class="btn border rounded-pill px-4 py-2 orange-btn" 
                    style="border-color: #F88634 !important">
                Save
            </button>
        </div>
        </form>
        </div>
        </div>

<partial name="_ValidationScriptsPartial" />