<h1>Create Category</h1>

<div>
    <form>
        <label class="form-label">Name</label>
        <input class="form-control" />

        <label class="form-label">Display Order</label>
        <input class="form-control" />

        <button class="btn btn-primary mt-3">Create</button>
        
    </form>
</div>