@model Category
<h1>Edit Category</h1>

<div>
    <form method="post">
        <label class="form-label" asp-for="CategoryName">Name</label>
        <input class="form-control" asp-for="CategoryName" />

        <label class="form-label" asp-for="DisplayOrder">Display Order</label>
        <input class="form-control" asp-for="DisplayOrder" />

        <button class="btn btn-primary mt-3">Update</button>

    </form>
</div>