@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer>
    <div class="container border-top p-3 d-flex gap-3 mt-5 footer-div">
        <div>
            <a href="" class="fw-bold text-decoration-none text-black">Privacy Policy</a>

        </div>
        <div>
            <a href="" class="text-secondary text-decoration-none" data-bs-target="#contactUsModal"
               data-bs-toggle="modal">Contact us</a>

        </div>


    </div>



</footer>