<div class="text-size">
    <div class="d-flex justify-content-between mt-3 px-md-2 px-1">
        <img src="~/images/settings.png" class="setting-img cursor-pointer" />
        <h3 class="">Notifications</h3>
        <span class="cursor-pointer">Clear all</span>

    </div>

    <div class="d-flex justify-content-between mt-3 px-4 border py-3">
        <img src="~/images/add.png" class="notification" />
        <span>New News - New page</span>
        <img src="~/images/checked.png" class="checked-notification-img notification" />
    </div>

    <div class="d-flex justify-content-between px-4 border py-3">
        <img src="~/images/add.png" class="notification" />
        <span>New News - New page</span>
        <img src="~/images/checked.png" class="checked-notification-img notification" />
    </div>

    <div class="d-flex justify-content-between px-4 border py-3">
        <img src="~/images/add.png" class="notification" />
        <span>New News - New page</span>
        <div class="notification-count notification"></div>
    </div>

    <div class="border  py-3 text-center bg-secondary-subtle">Older</div>

    <div class="d-flex justify-content-between px-4 border py-3">
        <img src="~/images/approve.svg" class="notification" />
        <span>New News - New page</span>
        <div class="notification-count notification"></div>
    </div>

    <div class="d-flex justify-content-between px-4 border py-3">
        <img src="~/images/approve.svg" class="notification" />
        <span>New News - New page</span>
        <div class="notification-count notification"></div>
    </div>
</div>