@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var userId = Context.Session.GetString("userId");
}
@*<partial name = "_Navbar" />*@
<!-- image div  -->
<div class="main-img d-flex justify-content-center flex-column">

    <p class="text-white text-center img-caption d-none d-sm-block">
        Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Harum aliquam
        culpa
        asperiores quisquam id
        corporis possimus cupiditate animi delectus consequuntur, maxime illum totam, nisi blanditiis iure
        illo
        veritatis beatae doloribus!
    </p>
    <div class="d-flex justify-content-center">
        <a asp-action="ShareStory" asp-route-id = "@userId" asp-controller="Story"  asp-area="Users" class="btn rounded-pill border text-white mt-1 px-3 font-size">
            Share Your Story <img src="~/images/right-arrow.png" alt="#" class="arrow">
        </a>
    </div>
</div>
<section class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 p-0">
        <div class="col mt-3">
            <div class="card sl-card ">
                <div class="position-relative story-card">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png"
                         class="card-img-top" alt="...">
                    <div class="top-0 bottom-0 start-0 end-0 align-items-center justify-content-center  position-absolute d-none"
                         id="view-details-btn">
                        <a href="#" class="btn rounded-pill border text-white mt-1 px-3 font-size">
                            View Details
                            <img src="~/images/right-arrow.png" alt="#" class="arrow">
                        </a>
                    </div>
                </div>



                <span class="theme-name align-text-top py-1 px-4 mx-auto translate-middle-y">
                    Customer
                    Experience
                </span>
                <div class="card-body p-0">
                    <h5 class="card-title mission-title px-3">
                        10 User and Customer Engagement Strategies for 2019
                    </h5>
                    <p class="card-text mission-desc px-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Iusto,
                        ipsa.
                        Sint
                        similique repellendus laboriosam omnis incidunt, sapiente, facilis alias consequatur hic
                        iste
                        nobis
                        voluptatibus! Ipsa molestiae in maxime similique id!
                    </p>

                </div>
                <div class="p-3">
                    <img class="rounded-pill vol-img" src="~/images/volunteer1.png" alt="">
                    <span class="font-size">Andrew Johnson</span>
                </div>
            </div>

        </div>

        <div class="col mt-3">
            <div class="card sl-card">
                <div class="position-relative story-card">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png"
                         class="card-img-top" alt="...">
                    <div class=" top-0 bottom-0 start-0 end-0 align-items-center justify-content-center position-absolute d-none "
                         id="view-details-btn">
                        <a href="#" class="btn rounded-pill border text-white mt-1 px-3 font-size">
                            View Details
                            <img src="~/images/right-arrow-white.svg" alt="#" class="arrow">
                        </a>
                    </div>
                </div>
                <span class="theme-name align-text-top py-1 px-4 mx-auto translate-middle-y">
                    Customer
                    Experience
                </span>
                <div class="card-body p-0">
                    <h5 class="card-title mission-title px-3">
                        10 User and Customer Engagement Strategies for 2019
                    </h5>
                    <p class="card-text mission-desc px-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Iusto,
                        ipsa.
                        Sint
                        similique repellendus laboriosam omnis incidunt, sapiente, facilis alias consequatur hic
                        iste
                        nobis
                        voluptatibus! Ipsa molestiae in maxime similique id!
                    </p>

                </div>
                <div class="p-3">
                    <img class="rounded-pill vol-img" src="~/images/volunteer1.png" alt="">
                    <span class="font-size">Andrew Johnson</span>
                </div>
            </div>

        </div>
        <div class="col mt-3">
            <div class="card sl-card">
                <div class="position-relative story-card">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png"
                         class="card-img-top" alt="...">
                    <div class="top-0 bottom-0 start-0 end-0 align-items-center justify-content-center position-absolute d-none"
                         id="view-details-btn">
                        <a href="#" class="btn rounded-pill border text-white mt-1 px-3 font-size">
                            View Details
                            <img src="~/images/right-arrow-white.svg" alt="#" class="arrow">
                        </a>
                    </div>
                </div>


                <span class="theme-name align-text-top py-1 px-4 mx-auto translate-middle-y">
                    Customer
                    Experience
                </span>
                <div class="card-body p-0">
                    <h5 class="card-title mission-title px-3">
                        10 User and Customer Engagement Strategies for 2019
                    </h5>
                    <p class="card-text mission-desc px-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Iusto,
                        ipsa.
                        Sint
                        similique repellendus laboriosam omnis incidunt, sapiente, facilis alias consequatur hic
                        iste
                        nobis
                        voluptatibus! Ipsa molestiae in maxime similique id!
                    </p>

                </div>
                <div class="p-3">
                    <img class="rounded-pill vol-img" src="~/images/volunteer1.png" alt="">
                    <span class="font-size">Andrew Johnson</span>
                </div>
            </div>

        </div>
        <div class="col mt-3">
            <div class="card sl-card">
                <div class="position-relative story-card">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png"
                         class="card-img-top" alt="...">
                    <div class="top-0 bottom-0 start-0 end-0 align-items-center justify-content-center position-absolute d-none"
                         id="view-details-btn">
                        <a href="#" class="btn rounded-pill border text-white mt-1 px-3 font-size">
                            View Details
                            <img src="~/images/right-arrow-white.svg" alt="#" class="arrow">
                        </a>
                    </div>
                </div>

                <span class="theme-name align-text-top py-1 px-4 mx-auto translate-middle-y">
                    Customer
                    Experience
                </span>
                <div class="card-body p-0">
                    <h5 class="card-title mission-title px-3">
                        10 User and Customer Engagement Strategies for 2019
                    </h5>
                    <p class="card-text mission-desc px-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Iusto,
                        ipsa.
                        Sint
                        similique repellendus laboriosam omnis incidunt, sapiente, facilis alias consequatur hic
                        iste
                        nobis
                        voluptatibus! Ipsa molestiae in maxime similique id!
                    </p>

                </div>
                <div class="p-3">
                    <img class="rounded-pill vol-img" src="~/images/volunteer1.png" alt="">
                    <span class="font-size">Andrew Johnson</span>
                </div>
            </div>

        </div>
        <div class="col mt-3">
            <div class="card sl-card">
                <div class="position-relative story-card">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png"
                         class="card-img-top" alt="...">
                    <div class="top-0 bottom-0 start-0 end-0 align-items-center justify-content-center position-absolute d-none"
                         id="view-details-btn">
                        <a href="#" class="btn rounded-pill border text-white mt-1 px-3 font-size">
                            View Details
                            <img src="~/images/right-arrow-white.svg" alt="#" class="arrow">
                        </a>
                    </div>
                </div>

                <span class="theme-name align-text-top py-1 px-4 mx-auto translate-middle-y">
                    Customer
                    Experience
                </span>
                <div class="card-body p-0">
                    <h5 class="card-title mission-title px-3">
                        10 User and Customer Engagement Strategies for 2019
                    </h5>
                    <p class="card-text mission-desc px-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Iusto,
                        ipsa.
                        Sint
                        similique repellendus laboriosam omnis incidunt, sapiente, facilis alias consequatur hic
                        iste
                        nobis
                        voluptatibus! Ipsa molestiae in maxime similique id!
                    </p>

                </div>
                <div class="p-3">
                    <img class="rounded-pill vol-img" src="~/images/volunteer1.png" alt="">
                    <span class="font-size">Andrew Johnson</span>
                </div>
            </div>

        </div>
        <div class="col mt-3">
            <div class="card sl-card">
                <div class="position-relative story-card">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png"
                         class="card-img-top" alt="...">
                    <div class="top-0 bottom-0 start-0 end-0 align-items-center justify-content-center position-absolute d-none"
                         id="view-details-btn">
                        <a href="#" class="btn rounded-pill border text-white mt-1 px-3 font-size">
                            View Details
                            <img src="~/images/right-" alt="#" class="arrow">
                        </a>
                    </div>
                </div>

                <span class="theme-name align-text-top py-1 px-4 mx-auto translate-middle-y">
                    Customer
                    Experience
                </span>
                <div class="card-body p-0">
                    <h5 class="card-title mission-title px-3">
                        10 User and Customer Engagement Strategies for 2019
                    </h5>
                    <p class="card-text mission-desc px-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Iusto,
                        ipsa.
                        Sint
                        similique repellendus laboriosam omnis incidunt, sapiente, facilis alias consequatur hic
                        iste
                        nobis
                        voluptatibus! Ipsa molestiae in maxime similique id!
                    </p>

                </div>
                <div class="p-3">
                    <img class="rounded-pill vol-img" src="~/images/volunteer1.png" alt="">
                    <span class="font-size">Andrew Johnson</span>
                </div>
            </div>

        </div>
        <div class="col mt-3">
            <div class="card sl-card">
                <div class="position-relative story-card">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png"
                         class="card-img-top" alt="...">
                    <div class="top-0 bottom-0 start-0 end-0 align-items-center justify-content-center position-absolute d-none"
                         id="view-details-btn">
                        <a href="#" class="btn rounded-pill border text-white mt-1 px-3 font-size">
                            View Details
                            <img src="~/images/right-arrow-white.svg" alt="#" class="arrow">
                        </a>
                    </div>
                </div>
                <span class="theme-name align-text-top py-1 px-4 mx-auto translate-middle-y">
                    Customer
                    Experience
                </span>
                <div class="card-body p-0">
                    <h5 class="card-title mission-title px-3">
                        10 User and Customer Engagement Strategies for 2019
                    </h5>
                    <p class="card-text mission-desc px-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Iusto,
                        ipsa.
                        Sint
                        similique repellendus laboriosam omnis incidunt, sapiente, facilis alias consequatur hic
                        iste
                        nobis
                        voluptatibus! Ipsa molestiae in maxime similique id!
                    </p>

                </div>
                <div class="p-3">
                    <img class="rounded-pill vol-img" src="~/images/volunteer1.png" alt="">
                    <span class="font-size">Andrew Johnson</span>
                </div>
            </div>

        </div>
        <div class="col mt-3">
            <div class="card sl-card">
                <div class="position-relative story-card">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png"
                         class="card-img-top" alt="...">
                    <div class="top-0 bottom-0 start-0 end-0 align-items-center justify-content-center position-absolute d-none"
                         id="view-details-btn">
                        <a href="#" class="btn rounded-pill border text-white mt-1 px-3 font-size">
                            View Details
                            <img src="~/images/right-arrow-white.svg" alt="#" class="arrow">
                        </a>
                    </div>
                </div>

                <span class="theme-name align-text-top py-1 px-4 mx-auto translate-middle-y">
                    Customer
                    Experience
                </span>
                <div class="card-body p-0">
                    <h5 class="card-title mission-title px-3">
                        10 User and Customer Engagement Strategies for 2019
                    </h5>
                    <p class="card-text mission-desc px-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Iusto,
                        ipsa.
                        Sint
                        similique repellendus laboriosam omnis incidunt, sapiente, facilis alias consequatur hic
                        iste
                        nobis
                        voluptatibus! Ipsa molestiae in maxime similique id!
                    </p>

                </div>
                <div class="p-3">
                    <img class="rounded-pill vol-img" src="~/images/volunteer1.png" alt="">
                    <span class="font-size">Andrew Johnson</span>
                </div>
            </div>

        </div>
        <div class="col mt-3">
            <div class="card sl-card">
                <div class="position-relative story-card">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png"
                         class="card-img-top" alt="...">
                    <div class="top-0 bottom-0 start-0 end-0 align-items-center justify-content-center position-absolute d-none"
                         id="view-details-btn">
                        <a href="#" class="btn rounded-pill border text-white mt-1 px-3 font-size">
                            View Details
                            <img src="~/images/right-arrow-white.svg" alt="#" class="arrow">
                        </a>
                    </div>
                </div>

                <span class="theme-name align-text-top py-1 px-4 mx-auto translate-middle-y">
                    Customer
                    Experience
                </span>
                <div class="card-body p-0">
                    <h5 class="card-title mission-title px-3">
                        10 User and Customer Engagement Strategies for 2019
                    </h5>
                    <p class="card-text mission-desc px-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Iusto,
                        ipsa.
                        Sint
                        similique repellendus laboriosam omnis incidunt, sapiente, facilis alias consequatur hic
                        iste
                        nobis
                        voluptatibus! Ipsa molestiae in maxime similique id!
                    </p>

                </div>
                <div class="p-3">
                    <img class="rounded-pill vol-img" src="~/images/volunteer1.png" alt="">
                    <span class="font-size">Andrew Johnson</span>
                </div>
            </div>

        </div>

    </div>
</section>
<partial name ="_Footer" />

@section Scripts{
    <script src="~/js/site.js"></script>
}