@model CIPlatform.entities.ViewModels.ForgotPasswordViewModel
@{
}
    <section class="d-flex flex-column flex-md-column flex-lg-row login-content">

        <partial name="_HeroCarousel" model="@Model.banners"></partial>

        <div class="d-flex flex-column p-3 p-sm-5 justify-content-center ">
            <div class="text-center">
                <h3>Forgot Password</h3>
                <p>
                    Enter your email address you've using for your account below and we will send you a password reset
                    link
                </p>
            </div>

            

             @if(TempData["MailSuccess"] !=null) 
              {
             <div class="bg-primary-subtle text-center">
                                     
                        @TempData["MailSuccess"]
                    
            </div>
              }

        @if (TempData["ResetPasswordError"] != null)
        {
            <div class="bg-danger-subtle text-center">

                @TempData["ResetPasswordError"]

            </div>
        }
            
            <form class="d-flex flex-column mx-auto justify-content-center" method="post">
            <label asp-for="Email" class="form-label login-label text-light-custom pt-3 text-secondary">Email Address</label>
                <input type="email"  asp-for="Email" id="email" class="form-control login-input text-light-custom"
                       >
                       <span class="text-danger" asp-validation-for="Email"></span>
                <button type ="submit" class="btn mt-4 text-light-custom" id="login-btn">Reset my Password</button>
            </form>
            <div class="d-flex flex-column align-items-center bottom-div">
                <a class="text-center p-2" asp-action="Login" asp-controller="Home">Login</a>
                <span class="login-span text-light-custom privacy-text position-fixed">
                    Priavcy
                    Policy
                </span>
            </div>


        </div>


        </section>

    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial"/>
        }
    }