<section class="d-flex flex-column flex-md-column flex-lg-row login-content">

        <div class="d-flex justify-content-end flex-column hero-image ">

            <div class="image-content p-5">
                <h1 class="text-light-custom">Sed ut perspiciatis unde omnis iste natus voluptatem.</h1>
                <p class="d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rerum,
                    accusantium debitis nihil
                    provident explicabo hic! Iure deleniti suscipit id blanditiis accusamus quasi, deserunt praesentium
                    architecto voluptates, tempore magni. Nostrum.</p>
            </div>
        </div>

        <div class="d-flex flex-column p-5 justify-content-center ">
            <div class="text-center">
                <h3>Forgot Password</h3>
                <p>Enter your email address you've using for your account below and we will send you a password reset
                    link
                </p>
            </div>
            <form class="d-flex flex-column mx-auto justify-content-center">
                <label for="email" class="form-label login-label text-light-custom pt-3">Email Address</label>
                <input type="email" id="email" class="form-control login-input text-light-custom"
                    value="Enter your email address...">
                <button class="btn mt-4 text-light-custom" id="login-btn">Reset my Password</button>
            </form>
            <div class="d-flex flex-column align-items-center bottom-div">
                <a class="text-center p-2" href="login.html">Login</a>
                <span class="login-span text-light-custom privacy-text position-fixed">Priavcy
                    Policy</span>
            </div>


        </div>
        </section>