@model CIPlatform.entities.ViewModels.IndexViewModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var UserName = Context.Session.GetString("firstName");
}

<partial name="_Navbar" />

<!-- third section  -->
<section class="d-none d-md-inline">
    <div class="third-div  container">
        <ul class="d-flex gap-2 flex-wrap mt-3">
            <li class="gap-4 rounded-5" id="filter-value">
                <img class="cancle-img" src="~/images/cancel1.png"
                     alt="Cancle">
            </li>
            <li class="gap-4 rounded-5">
                Canada <img class="cancle-img" src="~/images/cancel1.png" alt="Cancle">
            </li>
            <li class="gap-4 rounded-5">
                Toronto <img class="cancle-img" src="~/images/cancel1.png" alt="Cancle">
            </li>
            <li class="gap-4 rounded-5">
                Montreal <img class="cancle-img" src="~/images/cancel1.png"
                              alt="Cancle">
            </li>
            <li class="gap-4 rounded-5">
                Environment <img class="cancle-img" src="~/images/cancel1.png"
                                 alt="Cancle">
            </li>
            <li class="gap-4 rounded-5">
                Nutrition <img class="cancle-img" src="~/images/cancel1.png"
                               alt="Cancle">
            </li>
            <li class="gap-4 rounded-5">
                Anthropology <img class="cancle-img" src="~/images/cancel1.png"
                                  alt="Cancle">
            </li>
            <li class="gap-4 rounded-5">
                Environmental Science <img class="cancle-img" src="~/images/cancel1.png"
                                           alt="Cancle">
            </li>
            <button class="border-0 clear-btn">Clear All</button>
        </ul>
    </div>
</section>

<!-- forth section  -->
<section class="mt-3">
    <div class="d-flex container forth-div justify-content-between flex-wrap">
        <div class="d-flex gap-1">
            Explore<span>@Model.MissionList.Count missions</span>
        </div>
        <div class="d-flex">

            <select class="form-select select-btn">
                <option value="1" selected>Sort by</option>
            </select>
            <button class="grid-btn d-none d-md-block">
                <img class="grid-img h-100 w-100" src="~/images/grid.png"
                     alt="#">
            </button>
            <button class="list-btn d-none d-md-block">
                <img class="list-img h-75 w-100" src="~/images/list.png"
                     alt="#">
            </button>
        </div>

    </div>
</section>

<div id="partial"> <partial name = "_index" /> </div>
<!-- Pagination  -->

<ul class="pagination mt-5 d-flex justify-content-center">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <img src="~/images/left.png" alt="">
        </a>
    </li>

    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <img src="~/images/right-arrow1.png" alt="">
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>


@section Scripts{
    <script>

        ////all filters code

        //$(document).ready(function () {
        //    $("#country-filter").change(function () {
        //        var country = $(this).val();
        //        $.ajax({
        //            url: "/Users/Home/GetCitiesByCountry",
        //            type: "GET",
        //            dataType: "json",
        //            data: { country: country },
        //            success: function (result) {

        //                var cityDropdown = $("#city-filter");
        //                cityDropdown.empty();

        //                $.each(result, function (i, city) {
        //                    $("#city-filter").append($('<option></option>').val(city.name).html(city.name));
        //                    //alert(city.name);
        //                });
        //            }
        //        });
        //    });
        //});

        
        ////country filter
        //const countryFilter = () => {
        //    const country = document.getElementById("country-filter");

        //    let countryName = document.getElementById("country-filter").value.toLowerCase();

        //    let missions = document.getElementsByClassName("grid-mission");
        //    //alert(missions.Count());
        //    //alert(countryName);

        //    for (var i = 0; i <= missions.length; i++) {
        //        var missionCountry = missions[i].getElementsByClassName("country-name")[0];
        //        //alert(missionCountry.value);
        //        if (missionCountry.value.toLowerCase().indexOf(countryName) > -1) {
        //            missions[i].style.display = "";

        //        }
        //        else {
        //            missions[i].style.display = "none";

        //            //tempCount++;
        //        }
        //    }

        //}



        ////Theme filter
        //const themeFilter = () => {
        //    const theme = document.getElementById("theme-filter");

        //    let themeName = document.getElementById("theme-filter").value.toLowerCase();
        //    //let filterValue = document.getElementById("filter-value").innerHTML = themeName;
        //    //alert(themeName)

        //    // filterValue.innerHTML = themeName
        //    let missions = document.getElementsByClassName("grid-mission");
        //    //alert(missions.Count());
        //    //alert(themeName);

        //    for (var i = 0; i <= missions.length; i++) {
        //        var missionTheme = missions[i].getElementsByClassName("theme-name")[0];
        //        // alert(missionTheme.innerHTML);
        //        if (missionTheme.innerHTML.toLowerCase().indexOf(themeName) > -1) {
        //            missions[i].style.display = "";

        //        }
        //        else {
        //            missions[i].style.display = "none";

        //            //tempCount++;
        //        }
        //    }

        //}

        ////city filter
        //const cityFilter = () => {
        //    const city = document.getElementById("city-filter");

        //    let cityName = document.getElementById("city-filter").value.toLowerCase();
        //    let missions = document.getElementsByClassName("grid-mission");
        //    //alert(missions.Count());
        //    //alert(cityName);

        //    for (var i = 0; i <= missions.length; i++) {
        //        var missionCity = missions[i].getElementsByClassName("city-span")[0];
        //        //var missionCity = missions[i].querySelectorAll(".city-span");
        //        // alert("mission city=>>>>" + missionCity.innerHTML);
        //        if (missionCity.innerHTML.toLowerCase().indexOf(cityName) > -1) {
        //            missions[i].style.display = "";
        //            //alert("inside if");

        //        }
        //        else {
        //            missions[i].style.display = "none";
        //            // alert("inside else");
        //            //tempCount++;
        //        }
        //    }

        //}
        ////Skill filter
        //const skillFilter = () => {
        //    const skill = document.getElementById("skill-filter");

        //    let skillId = document.getElementById("skill-filter").value.toLowerCase();
        //    let missions = document.getElementsByClassName("grid-mission");
        //    //alert(missions.Count());
        //    //alert(skillId);

        //    for (var i = 0; i <= missions.length; i++) {
        //        var missionskillId = missions[i].getElementsByClassName("skill-id")[0];
        //        // alert(missionskillId.value);
        //        if (missionskillId.value == skillId) {
        //            missions[i].style.display = "";

        //        }
        //        else {
        //            missions[i].style.display = "none";

        //            //tempCount++;
        //        }
        //    }

        //}

        //Serach Missions

        //const inputValue = document.getElementById("search-bar");
        ////inputValue.addEventListner("keyup", searchMissions);
        //const searchMissions = () => {

        //    let inputValue = document.getElementById("search-bar").value.toLowerCase();
        //    let missions = document.getElementsByClassName("grid-mission");
        //    let missionCount = @Model.MissionList.Count();
        //    // alert("hiii");
        //    //console.log("hello method called!!!");

        //    //alert(missionCount);
        //    var missionTitle;
        //    //let tempCount = 0;
        //    //let count;

        //    for (var i = 0; i <= missions.length; i++) {
        //        missionTitle = missions[i].getElementsByClassName("card-title")[0];
        //        if (missionTitle.innerHTML.toLowerCase().indexOf(inputValue) > -1)
        //            missions[i].style.display = "";

        //        else {
        //            missions[i].style.display = "none";

        //        }
        //    }


        //}


    </script>
}

<partial name="_Footer" />