@model CIPlatform.entities.ViewModels.ResetPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="d-flex flex-column flex-md-column flex-lg-row login-content">
    <partial name="_HeroCarousel" model="@Model.banners"></partial>


    <div class="d-flex flex-column p-3 p-sm-5 justify-content-center">
        <div class="text-center">
            <h3>New Password</h3>
            <p>Please enter a new password in the fields below </p>
        </div>

        <form class="d-flex flex-column mx-auto justify-content-center" method="post">
            <label asp-for="Password" class="form-label text-secondary login-label text-light-custom">
                New
                Password
            </label>
            <input asp-for="Password" type="password" id="email" class="form-control login-input text-light-custom login-input"
                   >
                   <span asp-validation-for="Password" class="text-danger error-span"></span>

            <label  asp-for="ConfirmPassword" class="mt-3 form-label text-secondary login-label text-light-custom">
                Confirm New
                Password
            </label>
            <input asp-for="ConfirmPassword" type="password" id="psw" class="form-control login-input text-light-custom">
            <span asp-validation-for="ConfirmPassword" class="text-danger error-span"></span>

            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />
            <button type="submit" class="btn mt-4 text-light-custom login-input" id="login-btn">Change Password</button>
        </form>

        <div class="d-flex flex-column align-items-center bottom-div ">
            <a class="text-center p-2" asp-action="Login" asp-controller="Home">Login</a>
            <span class="login-span text-light-custom privacy-text position-fixed">
                Priavcy
                Policy
            </span>
        </div>
    </div>


</section>
@section scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}