@model List<CIPlatform.entities.ViewModels.TimeSheetViewModel>
@{
    var userId = Context.Session.GetString("userId");
}
<partial name = "_Navbar1" />

<div id="volTimeSheetPartial"><partial name="_VolTimeSheet" /></div>

<div id="goalModalPartial"></div>

<div id ="hourModalPartial"</div>

<partial name="_Footer" />




@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}   