@model List<CIPlatform.entities.ViewModels.TimeSheetViewModel>
@{
    var userId = Context.Session.GetString("userId");
}
<partial name = "_Navbar1" />

<div id="volTimeSheetPartial"><partial name="_VolTimeSheet" /></div>

<div id="goalModalPartial"></div>

<div id ="hourModalPartial"</div>

<partial name="_Footer" />




@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/timesheet.js"></script>
    

}   